.app{
  margin-top: 20px;
}
ul{
  list-style: none;
  padding-left: 0;
}
/* 로그인 스타일 */
.sign-in{
  width: 500px;
  margin: 30px auto;
}

.sign-in ul{
  list-style: none;
  padding-left: 0;
}
.sign-in ul li{
  margin: 16px;

}
/*
'>' - 자식 선택자, ' ' - 공백은 후손 자택자
*/

.sign-in ul li:last-child{ /* 버튼 항목 선택 */
  text-align: center;
}

.sign-in ul li input[type="text"],
.sign-in ul li input[type="password"]{
  padding: 5px;
  width: 200px;
  
}

.sign-in ul li button{
  padding: 8px 16px;
  font-size:16px;
  cursor: pointer;
}
